@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
}
.btn{
  background-color: #2F88FF;
}
.sidebar{
  height: calc(100vh - 56px);
}
.outer{
  position: absolute;
  left: -500px;
  transition-duration: 0.75s;

}
.inner{
  position: absolute;
  transition-duration: 0.75s;
  left: 0;
}
.sidebarCollapsed{

}
